name: builder
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        script: ['pkg:lin', 'pkg:win', 'pkg:mac']
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run ${{ matrix.os }}
    - run: ls -lA