name: builder
on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - master
    tags:
      - 'v*.*.*'
jobs:
  build_ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:lin
    - run: ls -lA
  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:win
    - run: ls -lA
  build_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:mac
    - run: ls -lA