name: builder
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  semver_taging:
    runs-on: ubuntu-latest
    steps:
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REPO_OWNER: demosjarco
  build_ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:lin
    - run: ls -lA
    - name: Release
      uses: softprops/action-gh-release@master
      with:
        files: continuum-stratum-version-manager
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:win
    - run: ls -lA
    - name: Release
      uses: softprops/action-gh-release@master
      with:
        files: |
            continuum-stratum-version-manager-x64.exe
            continuum-stratum-version-manager-x86.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - name: Uninstall unneeded dependencies
      run: npm uninstall nodemon -D
    - run: npm run pkg:mac
    - run: ls -lA
    - name: Release
      uses: softprops/action-gh-release@master
      with:
        files: continuum-stratum-version-manager
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}